<%= render 'shared/content_title', title: "#{@job.name}" %>

<div class='span8 well'>
<h3>What You Need to Do</h3>
<p><font size="4", color="black"><%= @job.challenge %></p></font>
<h3>What You Will Get </h3>
<font size="4", color="black"><%= @job.salary %></font>
<h3>What We Expect From You </h3>
<font size="4", color="black"><%= @job.description %></font>
<h3>How to Join Us? </h3>
<font size="4", color="black"><%= @job.feature %></font>


</div>

